.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.show-modal {
    display: block;

  }

  & .modal {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);

    & .modal-header {
      background-color: var(--primary-color);
      color: #fff;
      padding: 15px;

      h3 {
        margin: 0;
        border-bottom: 1px solid #333;
      }
    }
  }

  .modal-content {
    padding: 20px;
  }

  .modal-form {

    & div {
      margin: 15px 0;
    }

    & label {
      display: block;
      margin-bottom: 5px;
    }

    & .form-input {
      padding: 8px;
      width: 100%;
    }
  }

  .close-btn {
    background: transparent;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;

  }

}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

